<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.com.androidmaven.phalanx">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".ApplicationInstance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:theme="@style/myGreyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddNewRecord" android:theme="@style/myMaterialTheme"/>
        <activity android:name=".AttendNewPatient" android:theme="@style/myBlueTheme"/>
        <activity android:name=".RegisterNewPatient" android:theme="@style/myMaterialTheme"/>
        <activity android:name=".HistoryActivity" android:theme="@style/myBlueTheme"/>
        <activity android:name=".fingerPrintDeals.FingerPrintActivity" android:theme="@style/myGreyTheme"/>
        <activity android:name=".PaymentActivity" android:theme="@style/myPurpleTheme"/>
        <activity android:name=".LargerView" android:theme="@style/myGreyTheme"/>

    </application>

</manifest>